.navSiteName {
  font-family: "Major Mono Display";
  font-size: 1em;
  padding-left: 10px;
  color: black;
}

a:hover {
  text-decoration: none;
}

.navbarwhite {
    background-color: white;
}

.nav {
    padding-top: 25px;
    font-family: "Roboto Mono";
    text-decoration: none;
    font-size: larger;
}

.navimg {
    height: 30px;
    width: 30px;
}